<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.janschwarz1.myapplication">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PeopleActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.TextInputActivity"
            android:parentActivityName=".activities.PeopleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PeopleActivity" />
        </activity>
        <activity
            android:name=".activities.CurrenciesActivity"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.CurrencyActivity"
            android:parentActivityName=".activities.CurrenciesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.CurrenciesActivity" />
        </activity>
        <activity
            android:name=".activities.PersonActivity"
            android:parentActivityName=".activities.PeopleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PeopleActivity" />
        </activity>
        <activity
            android:name=".activities.ItemsActivity"
            android:parentActivityName=".activities.PersonActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PersonActivity" />
        </activity>
        <activity
            android:name=".activities.ItemActivity"
            android:parentActivityName=".activities.ItemsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ItemsActivity" />
        </activity>
        <activity
            android:name=".activities.OwesActivity"
            android:parentActivityName=".activities.PersonActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PersonActivity" />
        </activity>
        <activity
            android:name=".activities.IsOwedActivity"
            android:parentActivityName=".activities.PersonActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PersonActivity" />
        </activity>
        <activity
            android:name=".activities.DebtsActivity"
            android:parentActivityName=".activities.OwesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.OwesActivity" />
        </activity>
        <activity
            android:name=".activities.RatioActivity"
            android:parentActivityName=".activities.ItemActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ItemActivity" />
        </activity>
        <activity android:name=".activities.SelectOwnerActivity"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
    </application>

</manifest>